head
	title=title
	link(rel='stylesheet', href='/stylesheets/base/base.css')
	link(rel='stylesheet', href='/stylesheets/common/common.css')
	link(rel='stylesheet', href='/stylesheets/common/selectize.default.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/page/jquery-1.11.1.js')
	script(src='/javascripts/page/selectize.js')
	script(src='/javascripts/page/confirm_page.js')