doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/base/base.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/javascripts/page.js')
	body
		ul.nav.db.h50
			li.mr10.w60.fl.tc
				a.no_unl(href='/') 首页
			li.mr10.w60.fl.tc
				a.no_unl(href='/book/mybook') 读书
			-if(user)
				li.mr10.w60.fl.tc
					a.no_unl(href='/user/perInfo') 个人中心
				li.mr10.w60.fl.tc
					a.no_unl.logout(href='/user/logout') 退出
			-else
				li.mr10.w60.fl.tc
					a.no_unl(href='/user/login') 登录
				li.mr10.w60.fl.tc
					a.no_unl(href='/user/reg') 注册
		block content