extends ../layout
block content
	.main-content
		h3=title
		-if(error)
			h1=error
		form.form(method='post',action='')
			label
				input.selectize-input(type='text',name='name',placeholder='用户名')
			br
			label
				input.selectize-input(type='password',name='password',placeholder='密码')
			br
			input.btn.login(type='submit',value='立即登录')