//Created by yejing on 14-5-19.

extends ../layout
block content
	.main-content
		h1= title
		p Welcome to #{title}
		-if (userInfor.bookId.length == 0)
			p 没有上传过作品
		-else
			h2 上传过的书籍 
				.con #{userInfor.bookId[0].name_zh}