extends ../layout
block content
	ul.db
		li.fl.mr10.w60
			a.no_unl(href='/book/mybook') 我上传的
		li.fl.mr10.w60
			a.no_unl(href='/book/mybook') 我想读的
		li.fl.mr10.w60
			a.no_unl(href='/book/mybook') 我读过的
		li.fl.mr10.w60
			a.no_unl(href='/book/mybook') 正在看的