extends ../layout
block content
	h1=title
	p welcome to #{title}
	form(method='post',action='/book/upbook',enctype='multipart/form-data')
		label 书名：
			input(type='text',name='name_zh')
		br
		label 标签：
			input(type='text',name='tags')
		br
		label 封面：
			input(type='file',name='cover')
		br
		input(type='submit')