extends ../layout
block content
	h1=title
	p welcome to #{title}
	form(method='post',action='/book/upbook')
		label 书名：
			input(type='text',name='name_zh')
		br
		label 标签：
			input(type='text',name='tags')
		br
		label 内容：
			textarea(rows='10',cols='20',name='content') 请在这里填写您相对应章节下的文章内容
		br
		input(type='submit')