extends ../layout
block content
	.main-content
		h1=title
		p welcome to #{title}
		form#formDiscribe.form(method='post',action='/book/upbook',enctype='multipart/form-data')
			label 书名：
				input#name_zh.selectize-input(type='text',name='name_zh')
			br
			label 标签：
				input#tags.selectize-input(type='text',name='tags')
			br
			label 简介：
				input#intro.selectize-input(type='text',name='intro')
			br
			label 封面：
				input#cover.selectize-input(type='file',name='cover')
			br
			input#postbook.btn(type='submit',value='立即提交')
		script(src='/javascripts/page/page.js')