<div class="mybook" id="book">
			<div class="title">我上传的书<a href="">+添加一本书</a></div>
			<div class="content" *ngIf="perinfor?.userInfor">
				<ul>
					<li *ngFor="#iBook of perinfor.userInfor.bookId,#i=index" class="mb10">
						<span class="mr10">{{i+1}}</span>
						<a id="{{iBook._id}}" (click)="usergotoSerial($event.target.id)" class="book-title overdot">{{iBook.name_zh}}</a>
						<a href="/book/upbookDescribe/{{iBook._id}}">修改描述</a>
						<a href="/book/upbookContent/{{iBook._id}}">修改内容</a>
						<a href="/book/bookContent/delete/{{iBook._id}}" class="deleteCon">清空内容</a>
						<a href="/book/bookDescribe/delete/{{iBook._id}}" class="deleteAll">删除此书</a>
					</li>
				</ul>
			</div>
			<p *ngIf="!perinfor?.userInfor">暂时还没有上传书籍</p>
		</div>