.coverImg{background: url(/images/bookshadow.png);}
.paperCoverImg{background: url(/images/paperbookshadow.png); width: 144px; height: 190px;}
.cover{width:160px; height: 214px;}
.paperCover{width: 140px; height: 186px;}
